vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Aug 2018 14:47:00 -0000
vti_author:SR|ISISCNC\\mjb
vti_modifiedby:SR|CLRC\\sl27
vti_timecreated:TR|29 Mar 2005 09:49:51 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|2009/2009-1stAnnouncement-a.htm 2011/lectures/teaching\\ materials_2011.htm 2009/paymentDetails.htm 2007/information1.htm 2011/neutronreading2011.htm _private/secondannouncement.htm 2009/programme1_2009.htm history.htm 2007/programme4_2007.htm 2007/lectures.htm lectures.htm lecture-feedback.htm _private/indexOld.htm 2007/tutorials.htm neutronbooks.htm 2009/index_2009.htm 2007/index_2007.htm _private/osns2011registration.asp _private/thanks.asp 2013/Lectures/teaching\\ materials_2013.htm index.htm _private/news.htm 2013/programme3_2013.htm navigation.htm 2011/programme3_2011.htm 2011/2011osns-announcement.htm 2015/Lectures/teaching\\ materials_2015.htm
vti_syncwith_ndapelham\:80/conferences/theory25:TW|21 Jan 2005 10:07:05 -0000
vti_nexttolasttimemodified:TR|29 Mar 2005 12:05:30 -0000
vti_cacheddtm:TX|09 Aug 2018 14:47:00 -0000
vti_filesize:IR|1342
